apiVersion: v1
kind: Secret
metadata:
  name: zabbix-saml-certs
  namespace: {{ .kapp_namespace }}
  labels:
    app.kubernetes.io/name: zabbix
    app.kubernetes.io/instance: zabbix
    app.kubernetes.io/component: web
type: Opaque
data:
  sp.crt: '{{ .saml_sp_crt_b64 | b64enc }}'
  sp.key: '{{ .saml_sp_key_b64 | b64enc }}'