# Secret that contains the credentials to allow imports into Zabbix Jr via the API.
apiVersion: v1
kind: Secret
metadata:
  name: zabbix-api-creds
  namespace: {{ .kapp_namespace }}
  labels:
    app.kubernetes.io/name: zabbix
    app.kubernetes.io/instance: zabbix
    app.kubernetes.io/component: server
type: Opaque
data:
  username: "QWRtaW4="  # Admin
  password: "emFiYml4"  # zabbix
