---
# Source: zabbix/templates/serviceaccount.yaml
apiVersion: v1
kind: ServiceAccount
automountServiceAccountToken: true
metadata:
  name: zabbix
  namespace: {{ .kapp_namespace }}
  labels:
    helm.sh/chart: zabbix-7.0.12
    app.kubernetes.io/name: zabbix
    app.kubernetes.io/instance: zabbix
    app.kubernetes.io/version: "7.0.16"
    app.kubernetes.io/managed-by: Helm
